<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.animeextension.bn.ftpbd">

    <uses-feature android:name="tachiyomi.animeextension" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Aniyomi: FtpBd (Source)"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="tachiyomi.animeextension.class"
            android:value=".FtpBd" />
        <meta-data
            android:name="tachiyomi.animeextension.nsfw"
            android:value="0" />
    </application>
</manifest>
