name: Build FtpBd (Source)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: :app:assembleRelease

      - name: Get Version
        run: |
          VERSION_NAME=$(grep "versionName =" app/build.gradle | head -n 1 | awk -F'"' '{print $2}')
          echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION_NAME }}
          name: Release v${{ env.VERSION_NAME }}
          files: app/build/outputs/apk/release/*.apk
          draft: false
          prerelease: false
          generate_release_notes: true
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
